<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
<h1><a class="page-scroll" href="#" data-scroll="#banner"><span>{{ site.title }}</span></a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle alt"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a class="page-scroll" href="#" data-scroll="#banner">Home</a></li>
            {% for my_page in site.section %}
              {% if my_page[0] %}
                <li><a class="page-scroll" href="#" data-scroll="{{ my_page.[1] }}">{{ my_page.[0] }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
